header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 0px 50px 0;

    h2 {
        text-transform: uppercase;

        a {
            font-size: 25px;
        }
    }

    nav {
        display: flex;

        li {
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .link {
            &.active {
                font-family: poppins-bold;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        position: static;
        flex-direction: column;

        h2 {
            margin-bottom: 15px;
        }

        nav {
            li {
                margin: 0 7px;
            }
        }
    }
}