.feature {
    .item {
        font-family: poppins-bold;
        margin-right: 10px;
        margin-top: 0;
    }
}

.extra-features {
    .features {
        .feature {
            text-align: left;
        }
    }
}