.details-area {
    .details-content {
        .details-right {
            .extra {
                .trailer {
                    position: relative;

                    iframe {
                        display: block;
                        border: none;
                    }
                }
            }
        }
    }
}