<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Flexbox modal</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <style type="text/css">
        html {
            box-sizing: border-box;
            height: 100%;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        @media (prefers-reduced-motion: reduce) {

            *,
            *:before,
            *:after {
                -webkit-animation-duration: 0ms !important;
                animation-duration: 0ms !important;
                -webkit-transition-duration: 0ms !important;
                transition-duration: 0ms !important;
            }
        }

        body {
            height: 100%;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        html {
            overflow-y: hidden;
        }

        body {
            padding: 1em;
            line-height: 1.5;
        }

        p,
        h1,
        h2,
        h3 {
            margin-top: 0;
        }

        .modal-wrap {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow-y: auto;
            display: -webkit-box;
            display: flex;
            padding: 3em 1em;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal {
            position: relative;
            width: 100%;
            max-width: 32em;
            margin: auto;
            padding: 1.5em;
            background-color: white;
            -ms-flex-negative: 0;
        }
    </style>
</head>

<body translate="no">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit velit necessitatibus, rerum expedita! Explicabo tenetur, inventore aut et repellat consequuntur delectus saepe eligendi consequatur officia minus expedita eos, dicta.</p>
    <div class="modal-wrap">
        <div class="modal">
            <h2>Modal header</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta fugit necessitatibus voluptates maxime vero quidem quisquam deleniti soluta dolorem consequatur officiis deserunt temporibus, similique perspiciatis sunt laudantium error doloremque?</p>
            <button>Close</button>
        </div>
    </div>
</body>

</html>