<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Scrolling modal container</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <style type="text/css">
        .modalContainer {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 10px;
            overflow-y: auto;
            display: -webkit-box;
            display: flex;
        }

        .modal {
            background: white;
            padding: 40px;
            width: 400px;
            margin: auto;
        }
    </style>
</head>

<body translate="no">
    <h1>Background</h1>
    <div class="modalContainer">
        <div class="modal">
            <p>modal1</p>
            <p>modal2</p>
            <p>modal3</p>
            <p>modal4</p>
            <p>modal5</p>
            <p>modal6</p>
            <p>modal7</p>
        </div>
    </div>
</body>

</html>