<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CSS Grid Columns (Pure CSS Masonry Layout)</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.00, minimum-scale=1.00, maximum-scale=1.00" />
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
            font-size: 80%;
            background: #ccc;
            line-height: 1.2;
            margin: 4em;
        }

        img {
            width: 100%;
        }

        article {
            padding: 20px;
            border: 1px solid #999;
            border-radius: 5px;
            background: #fff;
        }

        a:link,
        a:visited {
            color: black;
        }

        h1 {
            margin-top: 0;
            margin-left: 0.75rem;
        }

        main {
            columns: 250px;
            column-gap: 20px;
        }

        article {
            break-inside: avoid-column;
            margin-bottom: 1rem;
        }
    </style>
</head>

<body translate="no">
    <main>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Paleo_food.jpg" alt="" title="" />
            <h3>1) All of These Headlines Are Not Exactly The Same</h3>
            <p>In the real world, you don't know how long the content will be. Writers will write what they need. Photos will be cropped to the shape that they should be. That's good. Make a system that allows this. You want it to be flexible and robust.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Indian_bengali_food.jpg" alt="" title="" />
            <h3>2) Some Are Short</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Food_in_Miyajima.jpg" alt="" title="" />
            <h3>3) Some Headlines Can Sometimes Be Quite Long, Because It Takes Time to Make A Point</h3>
            <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/P1-Food_with_love.jpg" alt="" title="" />
            <h3>4) Also, Why Are We Using Fake Content? Let's Make Some Real-ish Content.</h3>
            <p>By using real content, we can see the variation inherent in what this site might present. And we can design for those real world needs.
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Beautiful_Chaldean_Food_for_Everyone.jpg" alt="" title="" />
            <h3>5) Look At That</h3>
            <p>Doesn't that look yummy?</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Birds_on_stick_Shanghai_Qibao.jpg" alt="" title="" />
            <h3>6) See how this layout is broken?</h3>
            <p>That's because floats are really crap at handling layout. We've been using a screwdriver as a hammer. It sort of works, but badly.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Restaurant_food_Kunming_Yunnan.jpg" alt="" title="" />
            <h3>7) The New CSS Will Fix Things</h3>
            <p>Finally we get some real hammers.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Bunter_Teller.jpg" alt="" title="" />
            <h3>8) Several Kinds of Hammers</h3>
            <p>Grid, Flexbox, Alignment, Shapes, .</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/P3-Egyptian_food_Koshary.jpg" alt="" title="" />
            <h3>9) Size, Isn't That Magical!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris tindunt.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Mexican_food.jpg" alt="" title="" />
            <h3>10) All of These Headlines</h3>
            <p>Always three lines of text, which fits exactly in the available space. Describing where you will go when you click.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/P2-Arepitas_Food_Macro.jpg" alt="" title="" />
            <h3>11) Are Exactly the Same</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris tindunt.</p>
        </article>
        <article>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10558/Ravenna_food.jpg" alt="" title="" />
            <h3>12) Size, Isn't That Magical!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris tindunt.</p>
        </article>
    </main>
</body>

</html>