<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Responsive div table & Sticky header and sidebar</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.00, minimum-scale=1.00, maximum-scale=1.00" />
    <style type="text/css">
        body {
            background: #5BB9B8;
            font-family: monospace;
        }

        h1 {
            text-align: center;
            padding: 20px 0px 0px 0px;
        }

        /* Limit Height & Resize */
        .table_scroll {
            height: 100%;
            overflow: auto;
            resize: vertical;
            margin: auto;
            max-width: 100%;
            box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
        }

        /* Div Table Setting */
        .css_table {
            display: table;
            position: relative;
            width: 100%;
        }

        .css_tr {
            display: table-row;
        }

        .css_tr:nth-child(even) .css_td {
            background: #f5f5f5;
        }

        .css_tr:nth-child(odd) .css_td {
            background: #fff;
        }

        .css_td,
        .css_th,
        .css_sd {
            display: table-cell;
            padding: 8px 10px;
            white-space: nowrap;
            border-bottom: 0.2px solid #fff;
            border-right: 0.2px solid #fff;
        }

        .css_thead {
            display: table-header-group;
            font-weight: bold;
            z-index: 1;
        }

        .css_tfoot {
            background-color: #eee;
            display: table-footer-group;
            font-weight: bold;
        }

        .css_tbody {
            display: table-row-group;
        }

        /* Table Header Fixed */
        .css_th,
        .css_sd {
            position: sticky;
            background-color: #202932;
            color: #fff;
        }

        .css_th {
            top: 0;
        }

        .css_sd {
            left: 0;
        }

        .css_thead div.css_th:first-child,
        .css_tfoot div.css_th:first-child {
            left: 0;
            z-index: 1;
        }

        .css_tfoot .css_th {
            bottom: 0
        }

        /* Responsive Div Table */
        @media screen and (max-width: 650px) {
            .css_table {
                border: 0;
            }

            .css_table .css_thead,
            .css_table .css_tfoot {
                display: none;
            }

            .css_table .css_tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
            }

            .css_table .css_td,
            .css_table .css_sd {
                display: block;
                text-align: right;
                font-size: 13px;
                border-bottom: 1px dotted #ccc;
                border-left: 1px solid #ddd;
            }

            .css_table .css_td:last-child {
                border-bottom: 0;
            }

            .css_table .css_td:before,
            .css_table .css_sd:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }

            .table_scroll {
                margin: 0;
                height: auto !important;
            }

            .css_tr:nth-child(even) .css_td {
                background: #fff;
            }
        }
    </style>
</head>

<body translate="no">
    <h1>Responsive div table & Sticky header and sidebar</h1>
    <div class="table_scroll">
        <div class="css_table">
            <div class="css_thead">
                <div class="css_tr">
                    <div class="css_th">Name</div>
                    <div class="css_th">Position</div>
                    <div class="css_th">Age</div>
                    <div class="css_th">Office</div>
                    <div class="css_th">Start data</div>
                    <div class="css_th">Salary</div>
                    <div class="css_th">Position</div>
                    <div class="css_th">Age</div>
                    <div class="css_th">Office</div>
                    <div class="css_th">Start data</div>
                    <div class="css_th">Salary</div>
                </div>
            </div>
            <div class="css_tbody">
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Airi Satou</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Angelica Ramos</div>
                    <div class="css_td" data-label="Position">Chief Executive Officer (CEO)</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Ashton Cox</div>
                    <div class="css_td" data-label="Position">Junior Technical Author</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Bradley Greer</div>
                    <div class="css_td" data-label="Position">Software Engineer</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Brenden Wagner</div>
                    <div class="css_td" data-label="Position">Software Engineer</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Brielle Williamson</div>
                    <div class="css_td" data-label="Position">Integration Specialist</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Bruno Nash</div>
                    <div class="css_td" data-label="Position">Senior Javascript Developer</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Caesar Vance</div>
                    <div class="css_td" data-label="Position">Software Engineer</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="Name">Cara Stevens</div>
                    <div class="css_td" data-label="Position">Pre-Sales Support</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
                <div class="css_tr">
                    <div class="css_sd" data-label="One">Cedric Kelly</div>
                    <div class="css_td" data-label="two">Sales Assistant</div>
                    <div class="css_td" data-label="Age">40</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                    <div class="css_td" data-label="Position">Accountant</div>
                    <div class="css_td" data-label="Age">28</div>
                    <div class="css_td" data-label="Office">Tokyo</div>
                    <div class="css_td" data-label="Start data">2008/11/28</div>
                    <div class="css_td" data-label="Salary">$1,200,000</div>
                </div>
            </div>
            <div class="css_tfoot">
                <div class="css_th">Name</div>
                <div class="css_th">Position</div>
                <div class="css_th">Age</div>
                <div class="css_th">Office</div>
                <div class="css_th">Start data</div>
                <div class="css_th">Salary</div>
                <div class="css_th">Position</div>
                <div class="css_th">Age</div>
                <div class="css_th">Office</div>
                <div class="css_th">Start data</div>
                <div class="css_th">Salary</div>
            </div>
        </div>
    </div>
</body>

</html>