.mini-button {
    width: auto;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: rgb(40, 44, 52);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}