<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Flexbox center center</title>
    <meta name="robots" content="noindex" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.00, minimum-scale=1.00, maximum-scale=1.00" />
    <style type="text/css">
        .boner {
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .bone {
            background: red;
            width: 100px;
            height: 100px;
            margin: 10px;
        }
    </style>
</head>

<body translate="no">
    <div class="boner">
        <div class="bone"></div>
        <div class="bone"></div>
        <div class="bone"></div>
    </div>
</body>

</html>